[Unit]
Description=Misc Sensor for Overlack temperutare
StopWhenUnneeded=false
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/miscsensor

[Install]
WantedBy=multi-user.target

